
.clock {
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-flex;
    align-items: center; 
  }
  
  .date {
    margin-right: 10px;
  }
.weather {
  margin-left: 10px;
  margin-right: 20px;
}
.weather-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.visit{
    margin-left: 10px;
}
.toggle-button {
  position: fixed;
  top: 0px;
  right: 10px;
  padding: 2px 4px; 
  z-index: 1000; /* 他の要素より前面に表示するために調整可能 */
}

body {
  background-color: #ffffff;
  color: #000000;
}
body.dark {
  background-color: #333333;
  color: #ffffff;
}
button {
  margin-top: 10px;
}
.pomodoro-timer {
  display: flexbox;
  text-align: center;
  margin-top:30px ;
}
.main-content {
  margin-top: 60px; /* ヘッダーの高さに合わせてマージンを設定 */
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5; /* ライトモードの背景色 */
  color: black;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body.dark .header {
  background-color: #333333; /* ダークモードの背景色 */
  color: #ffffff;
}
.header-content {
  display: flex;
  gap: 15px;
}

